extends layout
block content
  h1= title
  -
  -var result = [{"Bear_name":"Brown Bear","Bear_size":5,"Bear_type":"grizzly bears"},{"Bear_name":"Polar bear","Bear_size":5,"Bear_type":"Andean bears"},{"Bear_name":"Gaint panda","Bear_size":3,"Bear_type":"Andean bears"}]
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Bear Name: #{item["Bear_name"]}  <br>  Bear_size: #{item["Bear_size"]} <br> Bear_type: #{item["Bear_type"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }